<template>
	<div class="p-grid crud-demo">
		<div class="p-col-12">
			<div class="card">
				<Toast/>
				<Toolbar class="p-mb-4">
					<template slot="left">
						<Button label="New" icon="pi pi-plus" class="p-button-success p-mr-2" @click="openNew" />
						<Button label="Delete" icon="pi pi-trash" class="p-button-danger" @click="confirmDeleteManyData" :disabled="!selectedManyData || !selectedManyData.length" />
					</template>

					<template slot="right">
						<!-- <FileUpload mode="basic" accept="image/*" :maxFileSize="1000000" label="Import" chooseLabel="Import" class="p-mr-2 p-d-inline-block" /> -->
						<Button label="Export" icon="pi pi-upload" class="p-button-help" @click="exportCSV($event)"  />
					</template>
				</Toolbar>

				<DataTable ref="dt" :value="manyData" :selection.sync="selectedManyData" dataKey="id" :paginator="true" :rows="10" :filters="filters"
                            paginatorTemplate="FirstPageLink PrevPageLink PageLinks NextPageLink LastPageLink CurrentPageReport RowsPerPageDropdown" :rowsPerPageOptions="[5,10,25]"
                            currentPageReportTemplate="Showing {first} to {last} of {totalRecords} manyData">
					<template #header>
						<div class="table-header">
							<h5 class="p-m-0">Manage Data</h5>
							<span class="p-input-icon-left">
                                <i class="pi pi-search" />
                                <InputText v-model="filters['global']" placeholder="Search..." />
                            </span>
						</div>
					</template>

					<Column selectionMode="multiple" headerStyle="width: 3rem"></Column>
					<Column field="id" header="ID" sortable></Column>
					<Column field="name" header="Name" sortable></Column>
					<Column field="email" header="E-Mail" sortable></Column>
					<Column header="Action">
						<template #body="slotProps">
							<Button icon="pi pi-pencil" class="p-button-rounded p-button-success p-mr-2" @click="editData(slotProps.data)" />
							<Button icon="pi pi-trash" class="p-button-rounded p-button-warning" @click="confirmDeleteOneData(slotProps.data)" />
						</template>
					</Column>
				</DataTable>

				<!-- Edit -->
				<Dialog :visible.sync="dataDialog" :style="{width: '450px'}" header="Product Details" :modal="true" class="p-fluid">
					<div class="p-field">
						<label for="name">Name</label>
						<InputText id="name" v-model.trim="oneData.name" required="true" autofocus :class="{'p-invalid': submitted && !oneData.name}" />
						<small class="p-invalid" v-if="submitted && !oneData.name">Name is required.</small>
					</div>
					<div class="p-field">
						<label for="email">E-Mail</label>
						<InputText id="email" v-model.trim="oneData.email" required="true" autofocus :class="{'p-invalid': submitted && !oneData.email}" />
						<small class="p-invalid" v-if="submitted && !oneData.email">E-Mail is required.</small>
					</div>
					<template #footer>
						<Button label="Cancel" icon="pi pi-times" class="p-button-text" @click="hideDialog"/>
						<Button label="Save" icon="pi pi-check" class="p-button-text" @click="saveData" />
					</template>
				</Dialog>

				<Dialog :visible.sync="deleteOneDataDialog" :style="{width: '450px'}" header="Confirm" :modal="true">
					<div class="confirmation-content">
						<i class="pi pi-exclamation-triangle p-mr-3" style="font-size: 2rem" />
						<span v-if="oneData">Are you sure you want to delete <b>{{oneData.name}}</b>?</span>
					</div>
					<template #footer>
						<Button label="No" icon="pi pi-times" class="p-button-text" @click="deleteOneDataDialog = false"/>
						<Button label="Yes" icon="pi pi-check" class="p-button-text" @click="deleteOneData" />
					</template>
				</Dialog>

				<Dialog :visible.sync="deleteManyDataDialog" :style="{width: '450px'}" header="Confirm" :modal="true">
					<div class="confirmation-content">
						<i class="pi pi-exclamation-triangle p-mr-3" style="font-size: 2rem" />
						<span v-if="oneData">Are you sure you want to delete the selected data?</span>
					</div>
					<template #footer>
						<Button label="No" icon="pi pi-times" class="p-button-text" @click="deleteManyDataDialog = false"/>
						<Button label="Yes" icon="pi pi-check" class="p-button-text" @click="deleteSelectedManyData" />
					</template>
				</Dialog>
			</div>
		</div>
	</div>

</template>

<script>
import UserService from './../../service/user/Index';

export default {
	data() {
		return {
			manyData: null,
			userLogin: null,
			dataDialog: false,
			deleteOneDataDialog: false,
			deleteManyDataDialog: false,
			oneData: {},
			selectedManyData: null,
			filters: {},
			submitted: false,
            //state loggedIn with localStorage
            loggedIn: localStorage.getItem('loggedIn'),
            //state token
            token: localStorage.getItem('token')
		}
	},

	userService: null,

	created() {
		// not logged in
        if (!this.loggedIn) {
            window.location.href = 'http://localhost:8080/login'
            // return this.$router.push({ name: 'dashboard' })
        }

		this.userService = new UserService();
	},

	mounted() {
		this.userService.getAllData(this.token).then(res => this.manyData = res);
		this.userService.getUserLogin(this.token).then(res => this.userLogin = res);
	},

	methods: {
		formatCurrency(value) {
			return value.toLocaleString('en-US', {style: 'currency', currency: 'USD'});
		},
		openNew() {
			this.oneData = {};
			this.submitted = false;
			this.dataDialog = true;
		},
		hideDialog() {
			this.dataDialog = false;
			this.submitted = false;
		},
		saveData() {
			this.submitted = true;

			if (this.oneData.name.trim()) {
				if (this.oneData.id) {
					this.userService.updateData(this.token, this.oneData.id, this.oneData).then(res => console.log(res));

					this.$set(this.manyData, this.findIndexById(this.oneData.id), this.oneData);
					this.$toast.add({severity:'success', summary: 'Successful', detail: 'Data Updated!', life: 3000});
				}
				else {
					this.userService.createData(this.token, this.oneData).then(res => {
						console.log(res);
						this.userService.getAllData(this.token).then(res => this.manyData = res);
					});

					this.$toast.add({severity:'success', summary: 'Successful', detail: 'Data Created!', life: 3000});
				}

				this.dataDialog = false;
				this.oneData = {};
			}
		},
		editData(oneData) {
			this.oneData = {...oneData};
			this.dataDialog = true;
		},
		confirmDeleteOneData(oneData) {
			this.oneData = oneData;
			this.deleteOneDataDialog = true;
		},
		deleteOneData() {
			this.userService.deleteData(this.token, this.oneData.id).then(res => {
				console.log(res);
			});

			this.manyData = this.manyData.filter(val => val.id !== this.oneData.id);
			this.deleteOneDataDialog = false;
			this.oneData = {};
			this.$toast.add({severity:'success', summary: 'Successful', detail: 'One Data Deleted!', life: 3000});
		},
		findIndexById(id) {
			let index = -1;
			for (let i = 0; i < this.manyData.length; i++) {
				if (this.manyData[i].id === id) {
					index = i;
					break;
				}
			}

			return index;
		},
		exportCSV() {
			this.$refs.dt.exportCSV();
		},
		confirmDeleteManyData() {
			this.deleteManyDataDialog = true;
		},
		deleteSelectedManyData() {
			this.selectedManyData.forEach((v) => {
				this.userService.deleteData(this.token, v.id).then(res => {
					console.log(res);
				});
			})

			this.manyData = this.manyData.filter(val => !this.selectedManyData.includes(val));
			this.deleteManyDataDialog = false;
			this.selectedManyData = null;
			this.$toast.add({severity:'success', summary: 'Successful', detail: 'Many Data Deleted!', life: 3000});
		}
	}
}
</script>

<style scoped lang="scss">
.table-header {
	display: flex;
	align-items: center;
	justify-content: space-between;
}

.product-image {
	width: 100px;
	box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
}

.p-dialog .product-image {
	width: 150px;
	margin: 0 auto 2rem auto;
	display: block;
}

.confirmation-content {
	display: flex;
	align-items: center;
	justify-content: center;
}

.product-badge {
	border-radius: 2px;
	padding: .25em .5rem;
	text-transform: uppercase;
	font-weight: 700;
	font-size: 12px;
	letter-spacing: .3px;

	&.status-instock {
		background: #C8E6C9;
		color: #256029;
	}

	&.status-outofstock {
		background: #FFCDD2;
		color: #C63737;
	}

	&.status-lowstock {
		background: #FEEDAF;
		color: #8A5340;
	}
}
</style>
