<template>
	<div class="layout-footer">
		<span class="footer-text" style="margin-right: 5px">CV. Langit Inspirasi</span>
		|
		<span class="footer-text" style="margin-left: 5px">Raising A Montessori</span>
	</div>
</template>

<script>
	export default {
		name: "AppFooter"
	}
</script>

<style scoped>

</style>