<template>
	<div class="layout-profile">
		<div>
			<img :src="'https://ui-avatars.com/api/?name=' + userLogin.name + '&&rounded=true&&bold=true&&background=0388E5&&color=fff'" alt="" />
		</div>
		<button class="p-link layout-profile-link" @click="onClick">
			<span class="username">{{ userLogin.name }}</span>
			<i class="pi pi-fw pi-cog"></i>
		</button>
        <transition name="layout-submenu-wrapper">
            <ul v-show="expanded">
                <li><button class="p-link"><i class="pi pi-fw pi-user"></i><span>Account</span></button></li>
                <li><button class="p-link"><i class="pi pi-fw pi-inbox"></i><span>Notifications</span><span class="menuitem-badge">2</span></button></li>
                <li @click="logout"><button class="p-link"><i class="pi pi-fw pi-power-off"></i><span>Logout</span></button></li>
            </ul>
        </transition>

	</div>
</template>

<script>
    import axios from 'axios'
	import UserService from './service/user/Index';

	export default {
		data() {
			return {
				expanded: false,
				//state loggedIn with localStorage
				loggedIn: localStorage.getItem('loggedIn'),
				//state token
				token: localStorage.getItem('token'),
				userLogin: null
			}
		},

		userService: null,

		methods: {
			onClick(event){
				this.expanded = !this.expanded;
				event.preventDefault();
			},

			logout() {
				axios.get('http://localhost:8000/api/logout')
				.then(() => {
					//remove localStorage
					localStorage.removeItem("loggedIn")
					//redirect
					window.location.href = 'http://localhost:8080/login'
					// return this.$router.push({ name: 'login' })
				})
			}
		},

		//check user logged in or not
		created() {
			if(!this.loggedIn) {
				return this.$router.push({ name: 'login' })
			}

			this.userService = new UserService();
		},

		mounted() {
			this.userService.getUserLogin(this.token).then(res => this.userLogin = res);
		}
	}
</script>

<style scoped>

</style>